In [2]:
# importing pandas as pd
import pandas as pd

In [21]:
# urls
urls = ['https://docs.google.com/spreadsheets/d/1AcNsmHgGiHAMGsEwN0oMQUuDa0iPk5an9lFol2-YAjs/edit#gid=1423740599',
        'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1888823199']

# for loop to replace and store urls
clean_urls = []

for url in urls:
    url = url.replace('/edit#gid=', '/export?format=xlsx&gid=')
    clean_urls.append(url)

clean_urls[0]

'https://docs.google.com/spreadsheets/d/1AcNsmHgGiHAMGsEwN0oMQUuDa0iPk5an9lFol2-YAjs/export?format=xlsx&gid=241079569'

In [22]:
# F&P MOY Data
df_fp_syracuse = pd.read_excel(clean_urls[0])
# df_1A = pd.read_csv(clean_urls[1])

# preview data
df_fp.head()
# df_1A.head()

,Student_ Number,Grade_Level,Home_room,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
0,223514100.0,3.0,Northwestern,D,1.00,D,1,D,1.0,E,1.16,91.0,0.0,3.0,2.0,NaN,5.0
1,232432526.0,3.0,Northwestern,D,1.00,E,1.16,D,1.0,F,1.33,95.0,1.0,3.0,1.0,NaN,4.0
2,232974790.0,3.0,Northwestern,F,1.33,G,1.5,G,1.5,H,1.67,94.0,1.0,3.0,2.0,NaN,5.0
3,229216031.0,3.0,Northwestern,F,1.33,G,1.5,I,1.83,J,2.00,99.0,2.0,2.0,2.0,NaN,4.0
4,203306691.0,3.0,Northwestern,H,NaN,,,I,,J,NaN,98.0,2.0,3.0,1.0,0.0,4.0