In [6]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Reading ExcelFile.
xls = pd.ExcelFile('Data.xlsx')

# Previewing sheet names inside excel file.
xls.sheet_names

['RH K-4 MOY Data',
 'MOY Export',
 'Syracuse',
 'Howard',
 'Swarthmore',
 'Spelman',
 'Williams',
 'Brooklyn',
 'Tuskegee',
 'Northwestern',
 'Georgetown',
 'Wisconsin']

In [3]:
# Combining all student records into a single Data Frame (df), excluding first two summary sheets
df = pd.concat(pd.read_excel(xls, sheet_name=xls.sheet_names[2:]), ignore_index=True)
print(df.shape)
df.head(15)

(274, 17)

,Student_ Number,Grade_Level,Home_room,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
0,236563003.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,88.0,1.0,3.0,2.0,NaN,5.0
1,238194344.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,97.0,2.0,2.0,1.0,NaN,3.0
2,239980246.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,33.0,2.0,1.0,2.0,NaN,3.0
3,240845834.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,3.0,1.0,NaN,NaN,1.0
4,239980196.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,2.0,3.0,1.0,NaN,4.0
5,240414854.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,1.0,2.0,NaN,3.0
6,240158048.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,95.0,NaN,2.0,2.0,NaN,4.0
7,240060129.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,2.0,1.0,NaN,3.0
8,240267807.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,3.0,3.0,NaN,6.0
9,236665122.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,2.0,1.0,NaN,3.0
10,239980253.0,0.0,Syracuse,AA,-0.25,NaN,,A,,B,0.33,95.0,NaN,3.0,1.0,NaN,4.0
11,240414904.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,1.0,1.0,NaN,2.0
12,238742233.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,2.0,3.0,NaN,5.0
13,239352479.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,3.0,1.0,NaN,4.0
14,239980238.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,2.0,1.0,NaN,3.0

In [4]:
# previewing df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ Number       274 non-null    float64
 1   Grade_Level           274 non-null    float64
 2   Home_room             274 non-null    object
 3   BOY Indep Level       273 non-null    object
 4    Grade Level Equiv    259 non-null    float64
 5    Inst Level           187 non-null    object
 6    Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level       271 non-null    object
 8    Grade Level Equiv.2  274 non-null    object
 9    Inst Level.1         264 non-null    object
 10   Grade Level Equiv.3  254 non-null    object
 11   Accuracy (%)         218 non-null    float64
 12   Fluency (0-3)        232 non-null    float64
 13   Comp Within (0-3)    251 non-null    float64
 14   Comp Beyond (0-3)    249 non-null    float64
 15   Comp About           132 non-null    object
 16   Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

A couple of noticings:

* The column names are inconsistently formatted and need to be cleaned.
* Some numerical columns need to be casted as such.
* Since the Non-null counts are inconsistent, further investigation is needed.

In [5]:
# Removing spaces and special characters from column names 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('_',' ')

# Removing potential spaces from all records
str_cols = ['Home_room','BOY Indep Level', ]
for col in str_cols:
    df[col] = df[col].str.strip()
    
# Renaming Student Number & Homeroom
df.insert(1,'OSIS', df['Student  Number'])
df.insert(2,'Homeroom', df['Home room'])

# Creating list of columns to drop
drop_cols = ['Home room','Student  Number']

# Dropping columns
df.drop(drop_cols, axis=1, inplace=True)

AttributeError: Can only use .str accessor with string values!

In [ ]:
# Renaming columns for easier readibility
df.insert(3,'BOY IP Level', df['BOY Indep Level'])
df.insert(4,'BOY IP Grade Equiv', df['Grade Level Equiv'])
df.insert(5,'BOY Instr Level', df['Inst Level'])
df.insert(6,'BOY Instr Grade Equiv', df['Grade Level Equiv.1'])
df.insert(7,'MOY IP Level', df['MOY Indep Level'])
df.insert(8,'MOY IP Grade Equiv', df['Grade Level Equiv.2'])
df.insert(9,'MOY Instr Level', df['Inst Level.1'])
df.insert(10,'MOY Instr Grade Equiv', df['Grade Level Equiv.3'])

In [ ]:
# Dropping columns
drop_cols1 = ['BOY Indep Level','Grade Level Equiv','Inst Level','Grade Level Equiv.1','MOY Indep Level',
            'Grade Level Equiv.2','Inst Level.1','Grade Level Equiv.3']

df.drop(drop_cols1, axis=1, inplace=True)

In [ ]:
# Checking for completion 
df.info()

The reading levels are documented in capital letters. As a precaution, I will make all independent and instructional levels capital.

In [ ]:
# Capitalizing all reading levels

reading_level_cols =  ['BOY IP Level','BOY Instr Level', 'MOY IP Level', 'MOY Instr Level']

for col in reading_level_cols:
    df[col]=df[col].str.upper()

for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY IP Level']}, {row['MOY IP Level']}")

In [ ]:
# Getting summary of missing values
df.isna().sum()

For BOY and MOY missing data, I will use the key provided with this analysis.

In [ ]:
# importing BOY info
sheet_url = 'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1026408630'
url1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')        
df_BOY_levels = pd.read_csv(url1, header=1)
df_BOY_levels.head(27)

In [ ]:
# Importing MOY info
sheet_url = 'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1314641425'
url2 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')        
df_MOY_levels = pd.read_csv(url2, header=1)
df_MOY_levels.head(27)

BOY and MOY Independent Reading Levels & Grade Equivalents are identical.  I will create a dictionary with these level to assist with missing values.

In [ ]:
# Dictionary 
alpha_keys = list(df_BOY_levels['Independent Reading Level'].unique())
alpha_values = list(df_BOY_levels['Grade Equivalent'].unique())

levels = dict(zip(alpha_keys, alpha_values))
levels

In [ ]:
# Locating records with missing BOY IP level data
df.loc[(df['BOY IP Level'].isna())]

This scholar is Swarthmore has data for the MOY assesment, but not the BOY assessment. I will assume this means the student was not assessed at the time. I will replace the BOY records with NE.

In [ ]:
# Addressing missing data for student missing  
df['BOY IP Level'].fillna('NE', inplace=True)

df.loc[(df['BOY IP Level']=='NE'), 'BOY IP Grade Equiv']='NE'
df.loc[(df['BOY IP Level']=='NE'), 'BOY Instr Level']='NE'
df.loc[(df['BOY IP Level']=='NE'), 'BOY Instr Grade Equiv']='NE'

In [ ]:
# Verifying accuracy
df.loc[(df['BOY IP Level'].isna())]

In [ ]:
# Locating records with missing BOY Grade Equivalent data
print(df.loc[df['BOY IP Grade Equiv'].isna()].shape)
df.loc[df['BOY IP Grade Equiv'].isna()]

Upon further investigation, only one BOY IP Level was included (student with OSIS # 203306691). My assumption is that the other students do not have beginning year data because they were enrolled in school after school had started. I will first address the missing equivalency for the one student with data. Afterwards, I will fill those values with NE for "Not Enrolled."

In [ ]:
# Replacing grade equivalence for level H
df.loc[(df['OSIS']==203306691),'BOY IP Grade Equiv']=1.67

# Checking to see if change was made.
df.loc[df['OSIS']==203306691]

In [ ]:
# Locating records with missing BOY Inst Level data
df.loc[df['BOY Instr Level'].isna()]

<!-- mini-exploratory
The data shows that the instructional level is typically one level above the BOY Indep Level. 5.67 also appears to be highest level, which is equivalent to level U. -->

In [ ]:
# Filling Instructional Level given BOY Independent Levels
import numpy as np

i = 0
for i, row in df.iterrows():
    for i in range(len(alpha_keys)-1):
        if pd.isnull(row['BOY Instr Level']):
            for level in alpha_keys:
                df.loc[(df['BOY IP Level']==alpha_keys[i]), 'BOY Instr Level']=alpha_keys[i+1]

In [ ]:
# Checking for accuracy 
df.loc[df['BOY Instr Level'].isna()]

In [ ]:
# Spot-checking with previous student
df.loc[df['OSIS']==203306691]

In [ ]:
# Addressing BOY Instructional Level since all were missing, no conditionals were used.

i = 0
for level, equiv in levels.items():
    df.loc[(df['BOY Instr Level']==level), 'BOY Instr Grade Equiv'] = equiv
    
# Checking for accuracy    
df.tail(25)

In [ ]:
# Verifying there are no records with missing BOY Instr Grade Equiv
df.loc[df['BOY Instr Level'].isna()]

In [ ]:
# Completing cleaning process for MOY Data

In [ ]:
# Locating records with missing MOY Indepent Level data
df.loc[df['MOY IP Level'].isna()]

There are 3 students with missing MOY IP Level, but there is an instructional level. The instructional level for the BOY was one level above the student's IP BOY level. I will assume that is the same for the MOY Independent Levels, which will be filled using their MOY instructional levels.

In [ ]:
# Filling MOY Independent Levels given Instructional Level
i = 1
for i in range(len(alpha_keys)-1):
    if (df['MOY IP Level'].isna().any()):
        for level in alpha_keys:
            df.loc[(df['MOY Instr Level']==alpha_keys[i]), 'MOY IP Level']=alpha_keys[i-1]
            i=+1

In [ ]:
# Checking for accuracy    
df.loc[df['OSIS']==234033942]
df.loc[df['OSIS']==203306691]

In [ ]:
df['MOY IP Level'].notnull().shape

We now have 274 complete MOY Independent Levels. I will move on to investigate other columns.

In [ ]:
# Locating records with missing MOY data
print(df.loc[df['MOY IP Grade Equiv'].isna()].shape)
df.loc[df['MOY IP Grade Equiv']==" "]

In [ ]:
df.loc[df['Grade Level Equiv.2'].isna()]

In [ ]:
df.loc[df['Grade Level Equiv.2'].isna()].shape

In [ ]:
# Addressing Grade Level Equiv.2 for Instructional Level
for level, equiv in levels.items():
    df.loc[(df['MOY Indep Level']==level), 'Grade Level Equiv.2'] = equiv
    
# Checking for accuracy    
df.loc[df['Grade Level Equiv.2'].isna()].shape

In [ ]:
# Double checking NE students.

df.loc[df['BOY Indep Level']=="NE"]

In [ ]:
df.dropna(subset=['Grade Level Equiv.2'], inplace=True)

# Checking for accuracy
df.shape

In [ ]:
# Checking for accuracy    
df.loc[df['Grade Level Equiv.2'].isna()].shape

In [ ]:
df.shape

In [ ]:
# Next column: Instructional Level.
df.loc[df['Inst Level.1'].isna()].shape

In [ ]:
# Investigating 10 missing records.
df.loc[df['Inst Level.1'].isna()]

In [ ]:
# Filling MOY Instructional Level given MOY Independent Levels
i = 0
for i in range(len(alpha_keys)-1):
    for level in alpha_keys:
        df.loc[(df['MOY Indep Level']==alpha_keys[i]), 'Inst Level.1']=alpha_keys[i+1]
        i=+1

# Checking for completeness
df.loc[df['Inst Level.1'].isna()]

In [ ]:
# Filling Grade Level Equiv.3 given Instructional Levels
i = 0
for level, equiv in levels.items():
    df.loc[(df['Inst Level.1']==level), 'Grade Level Equiv.3'] = equiv
    
# Checking for completeness
df.loc[df['Grade Level Equiv.3'].isna()]

The data shows that students missing MOY data also were students who are also missing in the BOY. My assumption is that these students were registered, but didnot attend the school. I will drop these records from the data frame.

In [ ]:
df.dropna(subset=['Grade Level Equiv.3'], inplace=True)

In [ ]:
df['Grade Level Equiv.3'].isna().sum()

In [ ]:
df.info()

In [ ]:
# Removing students NE and blank MOY.

This first grader's BOY Independent Level was A and MOY Independent Level was Z. Such a high jump is highly unlikely. An investigation into these outliers are required.

In [ ]:
# Changing data to numerical type
df[['Grade Level Equiv','Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']] = df[['Grade Level Equiv','Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Investigating Outliers by creating a column showing the difference between BOY and MOY levels.
df.isna().sum()
df['BOY-MOY Growth'] = abs(df['Grade Level Equiv.2'] - df['Grade Level Equiv'])
df['BOY-MOY Growth']

Since this analysis compares student's reading levels from the beginning of the school to the middle of school year, I expect to see a few cases of regression, no growth, and atleast a half a year of growth in reading levels. According to F&P Instructional Level Expectations for Reading, students can grow 3-4 levels within a school year. For example, a first grader is expected to enter the grade reading on level E or above and be on level K or above by the end of the school year. For this part of the analysis, I will isolate students who grew more than two grade levels and investigate their growth.

In [ ]:
for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY Indep Level']}")

In [ ]:
for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY Indep Level']}, {row['MOY Indep Level']}")