In [1]:
# importing pandas as pd
import pandas as pd

In [2]:
# url
sheet_url = 'https://docs.google.com/spreadsheets/d/1AcNsmHgGiHAMGsEwN0oMQUuDa0iPk5an9lFol2-YAjs/edit#gid=241079569'
url_1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [4]:
# F&P MOY Data
df_fp = pd.read_csv(url_1)

# preview data
df_fp.head()

,Student_ Number,Grade_Level,Home_room,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
0,223514100,3,Northwestern,D,1.00,D,1,D,1,E,1.16,91.0,0,3,2,NaN,5
1,232432526,3,Northwestern,D,1.00,E,1.16,D,1,F,1.33,95.0,1,3,1,NaN,4
2,232974790,3,Northwestern,F,1.33,G,1.5,G,1.5,H,1.67,94.0,1,3,2,NaN,5
3,229216031,3,Northwestern,F,1.33,G,1.5,I,1.83,J,2.00,99.0,2,2,2,NaN,4
4,203306691,3,Northwestern,H,NaN,,,I,,J,NaN,98.0,2,3,1,0.0,4