In [1]:
# importing pandas as pd
import pandas as pd

In [16]:
# reading ExcelFile.
xls = pd.ExcelFile('Data.xlsx')

# preview of sheet names.
xls.sheet_names

['RH K-4 MOY Data',
 'MOY Export',
 'Syracuse',
 'Howard',
 'Swarthmore',
 'Spelman',
 'Williams',
 'Brooklyn',
 'Tuskegee',
 'Northwestern',
 'Georgetown',
 'Wisconsin']

In [17]:
df = pd.concat(pd.read_excel(xls, sheet_name=xls.sheet_names[2:]), ignore_index=True)
df.shape

(274, 17)

In [18]:
# previewing df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ Number       274 non-null    float64
 1   Grade_Level           274 non-null    float64
 2   Home_room             274 non-null    object
 3   BOY Indep Level       273 non-null    object
 4    Grade Level Equiv    259 non-null    float64
 5    Inst Level           187 non-null    object
 6    Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level       271 non-null    object
 8    Grade Level Equiv.2  274 non-null    object
 9    Inst Level.1         264 non-null    object
 10   Grade Level Equiv.3  254 non-null    object
 11   Accuracy (%)         218 non-null    float64
 12   Fluency (0-3)        232 non-null    float64
 13   Comp Within (0-3)    251 non-null    float64
 14   Comp Beyond (0-3)    249 non-null    float64
 15   Comp About           132 non-null    object
 16   Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

A couple of noticings:

* The column names are inconsistently formatted and need to be cleaned.
* Some numerical columns need to be casted as such.
* Since the Non-null values are not consistent, further investigation is needed.

In [19]:
# removing spaces and special characters from column names 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('_',' ')

df.insert(1,'Student Number', 'Student  Number')
df.insert(2,'Homeroom', 'Home room')

# columns to drop
drop_cols = ['Home room','Student  Number']
# drop columns
df.drop(drop_cols, axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student Number       274 non-null    object
 1   Homeroom             274 non-null    object
 2   Grade Level          274 non-null    float64
 3   BOY Indep Level      273 non-null    object
 4   Grade Level Equiv    259 non-null    float64
 5   Inst Level           187 non-null    object
 6   Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level      271 non-null    object
 8   Grade Level Equiv.2  274 non-null    object
 9   Inst Level.1         264 non-null    object
 10  Grade Level Equiv.3  254 non-null    object
 11  Accuracy (%)         218 non-null    float64
 12  Fluency (0-3)        232 non-null    float64
 13  Comp Within (0-3)    251 non-null    float64
 14  Comp Beyond (0-3)    249 non-null    float64
 15  Comp About           132 non-null    object
 16  Total Comp           274 non-null    float64
dtypes: float64(7), object(10)
memory usage: 36.5+ KB

In [17]:
# changing data to numerical type
df[['Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']] = df[['Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']].apply(pd.to_numeric, errors='coerce')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student Number       274 non-null    object
 1   Homeroom             274 non-null    object
 2   Grade Level          274 non-null    float64
 3   BOY Indep Level      273 non-null    object
 4   Grade Level Equiv    259 non-null    float64
 5   Inst Level           187 non-null    object
 6   Grade Level Equiv.1  173 non-null    float64
 7   MOY Indep Level      271 non-null    object
 8   Grade Level Equiv.2  234 non-null    float64
 9   Inst Level.1         264 non-null    object
 10  Grade Level Equiv.3  248 non-null    float64
 11  Accuracy (%)         218 non-null    float64
 12  Fluency (0-3)        232 non-null    float64
 13  Comp Within (0-3)    251 non-null    float64
 14  Comp Beyond (0-3)    249 non-null    float64
 15  Comp About           132 non-null    object
 16  Total Comp           274 non-null    float64
dtypes: float64(10), object(7)
memory usage: 36.5+ KB

In [19]:
# get summary of missing values
df.isna().sum()

Student Number           0
Homeroom                 0
Grade Level              0
BOY Indep Level          1
Grade Level Equiv       15
Inst Level              87
Grade Level Equiv.1    101
MOY Indep Level          3
Grade Level Equiv.2     40
Inst Level.1            10
Grade Level Equiv.3     26
Accuracy (%)            56
Fluency (0-3)           42
Comp Within (0-3)       23
Comp Beyond (0-3)       25
Comp About             142
Total Comp               0
dtype: int64

For BOY and MOY missing data, I will use the key provided with this analysis.