In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Reading ExcelFile.
xls = pd.ExcelFile('Data.xlsx')

# Previewing sheet names inside excel file.
xls.sheet_names

['RH K-4 MOY Data',
 'MOY Export',
 'Syracuse',
 'Howard',
 'Swarthmore',
 'Spelman',
 'Williams',
 'Brooklyn',
 'Tuskegee',
 'Northwestern',
 'Georgetown',
 'Wisconsin']

In [3]:
# Combining all student records into a single Data Frame (df), excluding first two summary sheets
df = pd.concat(pd.read_excel(xls, sheet_name=xls.sheet_names[2:]), ignore_index=True)
print(df.shape)
df.head(25)

(274, 17)

,Student_ Number,Grade_Level,Home_room,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
0,236563003.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,88.0,1.0,3.0,2.0,NaN,5.0
1,238194344.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,97.0,2.0,2.0,1.0,NaN,3.0
2,239980246.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,33.0,2.0,1.0,2.0,NaN,3.0
3,240845834.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,3.0,1.0,NaN,NaN,1.0
4,239980196.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,2.0,3.0,1.0,NaN,4.0
5,240414854.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,1.0,2.0,NaN,3.0
6,240158048.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,95.0,NaN,2.0,2.0,NaN,4.0
7,240060129.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,2.0,1.0,NaN,3.0
8,240267807.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,3.0,3.0,NaN,6.0
9,236665122.0,0.0,Syracuse,AA,-0.25,NaN,,A,0.0,B,0.33,90.0,NaN,2.0,1.0,NaN,3.0
10,239980253.0,0.0,Syracuse,AA,-0.25,NaN,,A,,B,0.33,95.0,NaN,3.0,1.0,NaN,4.0
11,240414904.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,1.0,1.0,NaN,2.0
12,238742233.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,2.0,3.0,NaN,5.0
13,239352479.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,3.0,1.0,NaN,4.0
14,239980238.0,0.0,Syracuse,AA,-0.25,NaN,,B,0.33,C,0.67,90.0,NaN,2.0,1.0,NaN,3.0
15,240060145.0,0.0,Syracuse,AA,-0.25,NaN,,D,,E,1.16,NaN,NaN,1.0,1.0,NaN,2.0
16,240060210.0,0.0,Syracuse,AA,-0.25,NaN,,B,,C,0.67,NaN,NaN,2.0,2.0,NaN,4.0
17,239980279.0,0.0,Syracuse,AA,-0.25,NaN,,C,0.67,D,1.0,90.0,NaN,2.0,2.0,NaN,4.0
18,239980154.0,0.0,Syracuse,AA,-0.25,NaN,,C,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,239427610.0,0.0,Syracuse,AA,-0.25,NaN,,C,,D,1.0,NaN,NaN,2.0,2.0,NaN,4.0
20,240426700.0,0.0,Syracuse,AA,-0.25,NaN,,D,1.0,E,1.16,98.0,2.0,1.0,2.0,NaN,3.0
21,239983976.0,0.0,Syracuse,B,0.33,NaN,,D,1.0,E,1.16,93.0,NaN,1.0,2.0,NaN,3.0
22,240158022.0,0.0,Syracuse,AA,-0.25,NaN,,D,,E,1.16,NaN,1.0,1.0,1.0,NaN,2.0
23,239980287.0,0.0,Syracuse,AA,-0.25,NaN,,F,,G,1.5,NaN,2.0,2.0,1.0,NaN,3.0
24,240415372.0,0.0,Syracuse,,NaN,,,AA,,A,NaN,NaN,NaN,NaN,NaN,,0.0

In [4]:
# previewing df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ Number       274 non-null    float64
 1   Grade_Level           274 non-null    float64
 2   Home_room             274 non-null    object
 3   BOY Indep Level       273 non-null    object
 4    Grade Level Equiv    259 non-null    float64
 5    Inst Level           187 non-null    object
 6    Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level       271 non-null    object
 8    Grade Level Equiv.2  274 non-null    object
 9    Inst Level.1         264 non-null    object
 10   Grade Level Equiv.3  254 non-null    object
 11   Accuracy (%)         218 non-null    float64
 12   Fluency (0-3)        232 non-null    float64
 13   Comp Within (0-3)    251 non-null    float64
 14   Comp Beyond (0-3)    249 non-null    float64
 15   Comp About           132 non-null    object
 16   Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

A couple of noticings:

* The column names are inconsistently formatted and need to be cleaned.
* Some numerical columns need to be casted as such.
* Since the Non-null counts are inconsistent, further investigation is needed.

In [5]:
# Removing spaces and special characters from column names 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('_',' ')
    
# Renaming Student Number & Homeroom
df.insert(1,'OSIS', df['Student  Number'])
df.insert(2,'Homeroom', df['Home room'])

# Creating list of columns to drop
drop_cols = ['Home room','Student  Number']

# Dropping columns
df.drop(drop_cols, axis=1, inplace=True)

In [6]:
# Renaming columns for easier readibility
df.insert(3,'BOY IP Reading Level', df['BOY Indep Level'])
df.insert(4,'BOY IP Reading Grade Equiv', df['Grade Level Equiv'])
df.insert(5,'BOY Instr Reading Level', df['Inst Level'])
df.insert(6,'BOY Instr Reading Grade Equiv', df['Grade Level Equiv.1'])
df.insert(7,'MOY IP Reading Level', df['MOY Indep Level'])
df.insert(8,'MOY IP Reading Grade Equiv', df['Grade Level Equiv.2'])
df.insert(9,'MOY Instr Reading Level', df['Inst Level.1'])
df.insert(10,'MOY Instr Reading Grade Equiv', df['Grade Level Equiv.3'])

In [7]:
# Dropping columns
drop_cols1 = ['BOY Indep Level','Grade Level Equiv','Inst Level','Grade Level Equiv.1','MOY Indep Level',
            'Grade Level Equiv.2','Inst Level.1','Grade Level Equiv.3']

df.drop(drop_cols1, axis=1, inplace=True)

The reading levels are documented in capital letters. As a precaution, I will make all independent and instructional levels capital.

In [8]:
# Capitalizing all reading levels
reading_level_cols =  ['BOY IP Reading Level','BOY Instr Reading Level',
                       'MOY IP Reading Level', 'MOY Instr Reading Level']

for col in reading_level_cols:
    df[col]=df[col].str.upper()

for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY IP Reading Level']}, {row['MOY IP Reading Level']}")

Index: 0, AA, AA
Index: 1, AA, AA
Index: 2, AA, AA
Index: 3, AA, AA
Index: 4, AA, AA
Index: 5, AA, A
Index: 6, AA, A
Index: 7, AA, A
Index: 8, AA, A
Index: 9, AA, A
Index: 10, AA, A
Index: 11, AA, B
Index: 12, AA, B
Index: 13, AA, B
Index: 14, AA, B
Index: 15, AA, D
Index: 16, AA, B
Index: 17, AA, C
Index: 18, AA, C
Index: 19, AA, C
Index: 20, AA, D
Index: 21, B, D
Index: 22, AA, D
Index: 23, AA, F
Index: 24,  , AA
Index: 25, AA, B
Index: 26,  , AA
Index: 27, AA, AA
Index: 28, AA, AA
Index: 29, AA,
Index: 30, AA, AA
Index: 31, AA,
Index: 32, AA, A
Index: 33, AA, A
Index: 34, AA, A
Index: 35, AA, A
Index: 36, AA,
Index: 37, AA,
Index: 38, AA,
Index: 39, AA, A
Index: 40, AA, B
Index: 41, AA, B
Index: 42, AA, B
Index: 43, AA, C
Index: 44, AA, C
Index: 45, AA, C
Index: 46, AA, C
Index: 47, AA, C
Index: 48, AA, D
Index: 49, AA, D
Index: 50, AA, H
Index: 51, AA, H
Index: 52, AA, nan
Index: 53,  ,
Index: 54, A, AA
Index: 55, AA, A
Index: 56, B, B
Index: 57, B, B
Index: 58, AA, B
Index: 59, AA, B
Index: 60,  , C
Index: 61, A, C
Index: 62, C, D
Index: 63, B, D
Index: 64, B, D
Index: 65, D, D
Index: 66, D, D
Index: 67, nan, D
Index: 68, B, D
Index: 69, B, D
Index: 70, F, E
Index: 71, F, E
Index: 72, D, E
Index: 73,  , F
Index: 74, AA, F
Index: 75, D, F
Index: 76, H, I
Index: 77, I, I
Index: 78, H, J
Index: 79, I, J
Index: 80, H, L
Index: 81, J, M
Index: 82,  ,
Index: 83,  ,
Index: 84, B, C
Index: 85, B, C
Index: 86, AA, D
Index: 87, B, D
Index: 88, AA, D
Index: 89, C, D
Index: 90, A, D
Index: 91, D, E
Index: 92, D, E
Index: 93, B, F
Index: 94, D, F
Index: 95, B, F
Index: 96, D, F
Index: 97, D, G
Index: 98, E, G
Index: 99, H, I
Index: 100, H, I
Index: 101, E, I
Index: 102, F, I
Index: 103, F, J
Index: 104, J, J
Index: 105, I, J
Index: 106, H, J
Index: 107, H, J
Index: 108, J, K
Index: 109, I, K
Index: 110, B, nan
Index: 111, AA, nan
Index: 112, C, D
Index: 113, D, D
Index: 114, D, D
Index: 115, G, F
Index: 116, E, F
Index: 117, E, F
Index: 118, D, G
Index: 119, G, H
Index: 120, F, H
Index: 121, G, I
Index: 122, F, J
Index: 123, H, K
Index: 124, H, K
Index: 125, J, K
Index: 126, I, K
Index: 127, I, L
Index: 128, J, L
Index: 129, L, L
Index: 130, I, L
Index: 131, K, L
Index: 132, K, L
Index: 133, K, M
Index: 134, N, M
Index: 135, J, M
Index: 136, J, M
Index: 137, M, N
Index: 138,  ,
Index: 139,  ,
Index: 140, D, D
Index: 141, C, D
Index: 142, D, D
Index: 143, D, D
Index: 144, G, E
Index: 145, D, E
Index: 146, AA, F
Index: 147, F, G
Index: 148, G, H
Index: 149, G, H
Index: 150, G, H
Index: 151, H, J
Index: 152, H, J
Index: 153, G, J
Index: 154, I, J
Index: 155, D, K
Index: 156, I, K
Index: 157, K, L
Index: 158, K, L
Index: 159, K, L
Index: 160, K, M
Index: 161, K, M
Index: 162, K, M
Index: 163, K, M
Index: 164, K, M
Index: 165, M, P
Index: 166, F, H
Index: 167, H, H
Index: 168, I, I
Index: 169, K, L
Index: 170, M, L
Index: 171, K, L
Index: 172, K, L
Index: 173, L, M
Index: 174, J, M
Index: 175,  , M
Index: 176, K, N
Index: 177, N, O
Index: 178, M, O
Index: 179, O, O
Index: 180, M, O
Index: 181, P, P
Index: 182, N, P
Index: 183, L, Q
Index: 184, N, Q
Index: 185, P, Q
Index: 186, R, Q
Index: 187, K, Q
Index: 188, N, Q
Index: 189,  ,
Index: 190,  ,
Index: 191, D, D
Index: 192, D, D
Index: 193, F, G
Index: 194, F, I
Index: 195, H, I
Index: 196, K, K
Index: 197, K, K
Index: 198, J, L
Index: 199, I, L
Index: 200, K, M
Index: 201, K, N
Index: 202, M, N
Index: 203, N, N
Index: 204, M, N
Index: 205, N, N
Index: 206, L, O
Index: 207, L, O
Index: 208, O, O
Index: 209, N, O
Index: 210, M, O
Index: 211, N, O
Index: 212, N, P
Index: 213, P, P
Index: 214, M, P
Index: 215, O, Q
Index: 216, P, Q
Index: 217, O, R
Index: 218, J, J
Index: 219, K, K
Index: 220, L, L
Index: 221, J, L
Index: 222, J, M
Index: 223, N, N
Index: 224, O, O
Index: 225, O, O
Index: 226, N, P
Index: 227, N, P
Index: 228, M, P
Index: 229, N, P
Index: 230,  , Q
Index: 231, N, Q
Index: 232, Q, Q
Index: 233, Q, Q
Index: 234, P, Q
Index: 235, Q, Q
Index: 236, P, Q
Index: 237, R, R
Index: 238, R, R
Index: 239, R, R
Index: 240, S, S
Index: 241, S, S
Index: 242, R, S
Index: 243, S, T
Index: 244, U, U
Index: 245, U, U
Index: 246, R, U
Index: 247, H, J
Index: 248, K, K
Index: 249, K, K
Index: 250, L, L
Index: 251, L, L
Index: 252, M, N
Index: 253, M, N
Index: 254, N, N
Index: 255, N, N
Index: 256, M, N
Index: 257, K, N
Index: 258, N, N
Index: 259, N, N
Index: 260, L, O
Index: 261, N, O
Index: 262, N, O
Index: 263, N, P
Index: 264, P, Q
Index: 265, O, Q
Index: 266, Q, Q
Index: 267, R, R
Index: 268, P, R
Index: 269, Q, R
Index: 270, Q, R
Index: 271, R, S
Index: 272, R, S
Index: 273, R, T

In [10]:
df.loc[24,'BOY IP Reading Level'] = np.nan

In [13]:
for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY IP Reading Level']}, {row['MOY IP Reading Level']}")
    i += 1

Index: 0, AA, AA
Index: 1, AA, AA
Index: 2, AA, AA
Index: 3, AA, AA
Index: 4, AA, AA
Index: 5, AA, A
Index: 6, AA, A
Index: 7, AA, A
Index: 8, AA, A
Index: 9, AA, A
Index: 10, AA, A
Index: 11, AA, B
Index: 12, AA, B
Index: 13, AA, B
Index: 14, AA, B
Index: 15, AA, D
Index: 16, AA, B
Index: 17, AA, C
Index: 18, AA, C
Index: 19, AA, C
Index: 20, AA, D
Index: 21, B, D
Index: 22, AA, D
Index: 23, AA, F
Index: 24, nan, AA
Index: 25, AA, B
Index: 26,  , AA
Index: 27, AA, AA
Index: 28, AA, AA
Index: 29, AA,
Index: 30, AA, AA
Index: 31, AA,
Index: 32, AA, A
Index: 33, AA, A
Index: 34, AA, A
Index: 35, AA, A
Index: 36, AA,
Index: 37, AA,
Index: 38, AA,
Index: 39, AA, A
Index: 40, AA, B
Index: 41, AA, B
Index: 42, AA, B
Index: 43, AA, C
Index: 44, AA, C
Index: 45, AA, C
Index: 46, AA, C
Index: 47, AA, C
Index: 48, AA, D
Index: 49, AA, D
Index: 50, AA, H
Index: 51, AA, H
Index: 52, AA, nan
Index: 53,  ,
Index: 54, A, AA
Index: 55, AA, A
Index: 56, B, B
Index: 57, B, B
Index: 58, AA, B
Index: 59, AA, B
Index: 60,  , C
Index: 61, A, C
Index: 62, C, D
Index: 63, B, D
Index: 64, B, D
Index: 65, D, D
Index: 66, D, D
Index: 67, nan, D
Index: 68, B, D
Index: 69, B, D
Index: 70, F, E
Index: 71, F, E
Index: 72, D, E
Index: 73,  , F
Index: 74, AA, F
Index: 75, D, F
Index: 76, H, I
Index: 77, I, I
Index: 78, H, J
Index: 79, I, J
Index: 80, H, L
Index: 81, J, M
Index: 82,  ,
Index: 83,  ,
Index: 84, B, C
Index: 85, B, C
Index: 86, AA, D
Index: 87, B, D
Index: 88, AA, D
Index: 89, C, D
Index: 90, A, D
Index: 91, D, E
Index: 92, D, E
Index: 93, B, F
Index: 94, D, F
Index: 95, B, F
Index: 96, D, F
Index: 97, D, G
Index: 98, E, G
Index: 99, H, I
Index: 100, H, I
Index: 101, E, I
Index: 102, F, I
Index: 103, F, J
Index: 104, J, J
Index: 105, I, J
Index: 106, H, J
Index: 107, H, J
Index: 108, J, K
Index: 109, I, K
Index: 110, B, nan
Index: 111, AA, nan
Index: 112, C, D
Index: 113, D, D
Index: 114, D, D
Index: 115, G, F
Index: 116, E, F
Index: 117, E, F
Index: 118, D, G
Index: 119, G, H
Index: 120, F, H
Index: 121, G, I
Index: 122, F, J
Index: 123, H, K
Index: 124, H, K
Index: 125, J, K
Index: 126, I, K
Index: 127, I, L
Index: 128, J, L
Index: 129, L, L
Index: 130, I, L
Index: 131, K, L
Index: 132, K, L
Index: 133, K, M
Index: 134, N, M
Index: 135, J, M
Index: 136, J, M
Index: 137, M, N
Index: 138,  ,
Index: 139,  ,
Index: 140, D, D
Index: 141, C, D
Index: 142, D, D
Index: 143, D, D
Index: 144, G, E
Index: 145, D, E
Index: 146, AA, F
Index: 147, F, G
Index: 148, G, H
Index: 149, G, H
Index: 150, G, H
Index: 151, H, J
Index: 152, H, J
Index: 153, G, J
Index: 154, I, J
Index: 155, D, K
Index: 156, I, K
Index: 157, K, L
Index: 158, K, L
Index: 159, K, L
Index: 160, K, M
Index: 161, K, M
Index: 162, K, M
Index: 163, K, M
Index: 164, K, M
Index: 165, M, P
Index: 166, F, H
Index: 167, H, H
Index: 168, I, I
Index: 169, K, L
Index: 170, M, L
Index: 171, K, L
Index: 172, K, L
Index: 173, L, M
Index: 174, J, M
Index: 175,  , M
Index: 176, K, N
Index: 177, N, O
Index: 178, M, O
Index: 179, O, O
Index: 180, M, O
Index: 181, P, P
Index: 182, N, P
Index: 183, L, Q
Index: 184, N, Q
Index: 185, P, Q
Index: 186, R, Q
Index: 187, K, Q
Index: 188, N, Q
Index: 189,  ,
Index: 190,  ,
Index: 191, D, D
Index: 192, D, D
Index: 193, F, G
Index: 194, F, I
Index: 195, H, I
Index: 196, K, K
Index: 197, K, K
Index: 198, J, L
Index: 199, I, L
Index: 200, K, M
Index: 201, K, N
Index: 202, M, N
Index: 203, N, N
Index: 204, M, N
Index: 205, N, N
Index: 206, L, O
Index: 207, L, O
Index: 208, O, O
Index: 209, N, O
Index: 210, M, O
Index: 211, N, O
Index: 212, N, P
Index: 213, P, P
Index: 214, M, P
Index: 215, O, Q
Index: 216, P, Q
Index: 217, O, R
Index: 218, J, J
Index: 219, K, K
Index: 220, L, L
Index: 221, J, L
Index: 222, J, M
Index: 223, N, N
Index: 224, O, O
Index: 225, O, O
Index: 226, N, P
Index: 227, N, P
Index: 228, M, P
Index: 229, N, P
Index: 230,  , Q
Index: 231, N, Q
Index: 232, Q, Q
Index: 233, Q, Q
Index: 234, P, Q
Index: 235, Q, Q
Index: 236, P, Q
Index: 237, R, R
Index: 238, R, R
Index: 239, R, R
Index: 240, S, S
Index: 241, S, S
Index: 242, R, S
Index: 243, S, T
Index: 244, U, U
Index: 245, U, U
Index: 246, R, U
Index: 247, H, J
Index: 248, K, K
Index: 249, K, K
Index: 250, L, L
Index: 251, L, L
Index: 252, M, N
Index: 253, M, N
Index: 254, N, N
Index: 255, N, N
Index: 256, M, N
Index: 257, K, N
Index: 258, N, N
Index: 259, N, N
Index: 260, L, O
Index: 261, N, O
Index: 262, N, O
Index: 263, N, P
Index: 264, P, Q
Index: 265, O, Q
Index: 266, Q, Q
Index: 267, R, R
Index: 268, P, R
Index: 269, Q, R
Index: 270, Q, R
Index: 271, R, S
Index: 272, R, S
Index: 273, R, T

In [17]:
for col in df.columns:
    df[col] = df[col].str.replace(" ","")

AttributeError: Can only use .str accessor with string values!

In [15]:
df['BOY IP Reading Level'].str.replace(" ", "")

0      AA
1      AA
2      AA
3      AA
4      AA
       ..
269     Q
270     Q
271     R
272     R
273     R
Name: BOY IP Reading Level, Length: 274, dtype: object

In [9]:
# Removing potential spaces from all records

# Placing r in front creates a raw-string literal.
# Character class, \s, matches whitespace character (includes tabs and line breaks)
# Quantifier, *, matches a string that has a space followed by 0 or more spaces.
# Anchors, ^ and $, starts and ends with a space.

for col in df.select_dtypes(include=[object]):
    df[col] = df[col].replace(r'^\s*$', np.nan, regex=True)

NameError: name 'd' is not defined

In [ ]:
# Checking for completion 
df.info()

In [ ]:
# Getting summary of missing values
df.isna().sum()

A significant amount of data is missing from numerous columns. Rather than automatically drop these columns, I will use the key provided with this analysis to fill this missing data.

In [ ]:
# importing BOY info
sheet_url = 'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1026408630'
url1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')        
df_BOY_levels = pd.read_csv(url1, header=1)
df_BOY_levels.head(27)

In [ ]:
# Importing MOY info
sheet_url = 'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1314641425'
url2 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')        
df_MOY_levels = pd.read_csv(url2, header=1)
df_MOY_levels.head(27)

BOY and MOY Independent Reading Levels & Grade Equivalents are identical.  I will create a dictionary with these level to assist with missing values.

In [ ]:
# Dictionary 
alpha_keys = list(df_BOY_levels['Independent Reading Level'].unique())
alpha_values = list(df_BOY_levels['Grade Equivalent'].unique())

levels = dict(zip(alpha_keys, alpha_values))
levels

In [ ]:
# Locating records with missing BOY IP level data
df.loc[(df['BOY IP Level'].isna())]

This scholar is Swarthmore has data for the MOY assesment, but not the BOY assessment. I will assume this means the student was not assessed in the BOY. Since it is the beginning I will also assume this means that the student was not present at the time of assessment. I will replace the BOY records with NT (Not Tested).

In [ ]:
# Addressing missing data for student 238231914
df['BOY IP Level'].fillna('NT', inplace=True)

df.loc[(df['BOY IP Level']=='NT'), 'BOY IP Grade Equiv']='NT'
df.loc[(df['BOY IP Level']=='NT'), 'BOY Instr Level']='NT'
df.loc[(df['BOY IP Level']=='NT'), 'BOY Instr Grade Equiv']='NT'

In [ ]:
# Verifying accuracy
df.loc[(df['BOY IP Level'].isna())]

In [ ]:
# Locating records with missing BOY Grade Equivalent data
print(df.loc[df['BOY IP Grade Equiv'].isna()].shape)
df.loc[df['BOY IP Grade Equiv'].isna()]

Upon further investigation, only one BOY IP Level was included (student with OSIS # 203306691). I will use the key to fill this missing BOY Grade Equiv for this student. For the other students, my assumption is that a majority do not have beginning year data because they are no longer enrolled in the school. I assumed this because their MOY data is also missing. I will fill those values with NP and eventually drop them from the data frame.

In [ ]:
# Replacing grade equivalence for level H
df.loc[(df['OSIS']==203306691),'BOY IP Grade Equiv']=1.67

# Checking to see if change was made.
df.loc[df['OSIS']==203306691]

In [ ]:
# Locating records with missing BOY Inst Level data
df.loc[df['BOY Instr Level'].isna()]

In [ ]:
# Filling Instructional Level given BOY Independent Levels
i = 0
for i, row in df.iterrows():
    for i in range(len(alpha_keys)-1):
        if pd.isnull(row['BOY Instr Level']):
            for level in alpha_keys:
                df.loc[(df['BOY IP Level']==alpha_keys[i]), 'BOY Instr Level']=alpha_keys[i+1]

In [ ]:
# Checking for accuracy 
df.loc[df['BOY Instr Level'].isna()]

In [ ]:
# Spot-checking with previous student
df.loc[df['OSIS']==203306691]

In [ ]:
# Addressing BOY Instructional Level since all were missing, no conditionals were used.
i = 0
for level, equiv in levels.items():
    df.loc[(df['BOY Instr Level']==level), 'BOY Instr Grade Equiv'] = equiv
    
# Checking for accuracy    
df.tail(25)

In [ ]:
# Verifying there are no records with missing BOY Instr Grade Equiv
df.loc[df['BOY Instr Level'].isna()]

In [ ]:
# Completing cleaning process for MOY Data

In [ ]:
# Locating records with missing MOY Indepent Level data
df.loc[df['MOY IP Level'].isna()]

There are 3 students with missing MOY IP Level, but there is an instructional level. The instructional level for the BOY was one level above the student's IP BOY level. I will assume MOY Independent Levels follow a similar pattern. MOP IP Levels will be one level below MOY instructional levels.

In [ ]:
# Filling MOY Independent Levels given MOY Instructional Level
i = 1
for i in range(len(alpha_keys)-1):
    if (df['MOY IP Level'].isna().any()):
        for level in alpha_keys:
            df.loc[(df['MOY Instr Level']==alpha_keys[i]), 'MOY IP Level']=alpha_keys[i-1]
            i=+1

In [ ]:
# Spot-checking for accuracy    
# df.loc[df['OSIS']==234033942]
df.loc[df['OSIS']==203306691]

In [ ]:
df['MOY IP Level'].notnull().shape

We now have 274 complete MOY Independent Levels. I will move on to investigate other columns.

In [ ]:
# Locating records with missing MOY data
print(df.loc[df['MOY IP Grade Equiv'].isna()].shape)

In [ ]:
df.loc[df['MOY IP Grade Equiv'].isna()]

In [ ]:
# Addressing MOY IP Grade Equiv 
for level, equiv in levels.items():
    df.loc[(df['MOY IP Level']==level), 'MOY IP Grade Equiv'] = equiv
    
# Checking for accuracy    
df.loc[df['MOY IP Grade Equiv'].isna()].shape

In [ ]:
# Next column: Instructional Level.
df.loc[df['MOY Instr Level'].isna()].shape

In [ ]:
# Investigating 10 missing records.
df.loc[df['MOY Instr Level'].isna()]

In [ ]:
# Filling MOY Instructional Level given MOY Independent Levels
i = 0
for i in range(len(alpha_keys)-1):
    for level in alpha_keys:
        df.loc[(df['MOY IP Level']==alpha_keys[i]), 'MOY Instr Level']=alpha_keys[i+1]
        i=+1

# Checking for completeness
df.loc[df['MOY Instr Level'].isna()]

In [ ]:
# Filling MOY Instr Grade Equiv given Instructional Levels
i = 0
for level, equiv in levels.items():
    df.loc[(df['MOY Instr Level']==level), 'MOY Instr Grade Equiv'] = equiv
    
# Checking for completeness
df.loc[df['MOY Instr Grade Equiv'].isna()]

The data shows that students missing MOY data also were students who are also missing in the BOY. My assumption is that these students were registered, but didnot attend the school. I will drop these records from the data frame.

In [ ]:
df.dropna(subset=['MOY Instr Grade Equiv'], inplace=True)

In [ ]:
df['MOY Instr Grade Equiv'].isna().sum()

In [ ]:
df.info()

In [ ]:
# Investigating Growth

In [ ]:
for i, row in df.iterrows():
    print(f"Index: {i}, {row['BOY IP Level']}, {row['MOY IP Level']}")

The 4th and 5th student in the data frame shows a BOY Independent Level of AA and MOY Independent Level of Z. A student growing that much in less than a year is highly unlikely. An investigation into these outliers are required.

In [ ]:
# Changing data to numerical type
df[['BOY IP Grade Equiv','BOY Instr Grade Equiv','MOY IP Grade Equiv','MOY Instr Grade Equiv']
  ] = df[['BOY IP Grade Equiv','BOY Instr Grade Equiv','MOY IP Grade Equiv','MOY Instr Grade Equiv']
        ].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Investigating Outliers by creating a column showing the difference between BOY and MOY levels.
df.isna().sum()
df['BOY-MOY Growth'] = abs(df['MOY IP Grade Equiv'] - df['BOY IP Grade Equiv'])
df['BOY-MOY Growth']

In [ ]:
df['BOY-MOY Growth'].plot(title="Student Growth");

Since this analysis compares student's reading levels from the beginning of the school to the middle of school year, I expect to see a few cases of regression, no growth, and atleast a half a year of growth in reading levels. According to F&P Instructional Level Expectations for Reading, students can grow 3-4 levels within a school year. For example, a first grader is expected to enter the grade reading on level E or above and be on level K or above by the end of the school year. For this part of the analysis, I will isolate students who grew more than two grade levels and investigate their growth.

In [ ]:
# Creating column with on grade level, above grade level, below grade level.
df['BOY Ranking'] = np.nan
df['MOY Ranking'] = np.nan

In [ ]:
# Create column for on grade level or not for BOY and MOY.