In [1]:
# importing pandas as pd
import pandas as pd

In [2]:
# reading ExcelFile.
xls = pd.ExcelFile('Data.xlsx')

# preview of sheet names.
xls.sheet_names

['RH K-4 MOY Data',
 'MOY Export',
 'Syracuse',
 'Howard',
 'Swarthmore',
 'Spelman',
 'Williams',
 'Brooklyn',
 'Tuskegee',
 'Northwestern',
 'Georgetown',
 'Wisconsin']

In [3]:
df = pd.concat(pd.read_excel(xls, sheet_name=xls.sheet_names[2:]), ignore_index=True)
df.shape
df.head()

,Student_ Number,Grade_Level,Home_room,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
0,236563003.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,88.0,1.0,3.0,2.0,NaN,5.0
1,238194344.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,97.0,2.0,2.0,1.0,NaN,3.0
2,239980246.0,0.0,Syracuse,AA,-0.25,NaN,,AA,-0.25,A,0.0,33.0,2.0,1.0,2.0,NaN,3.0
3,240845834.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,3.0,1.0,NaN,NaN,1.0
4,239980196.0,0.0,Syracuse,AA,-0.25,NaN,,AA,,AA,-0.25,NaN,2.0,3.0,1.0,NaN,4.0

In [4]:
# previewing df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ Number       274 non-null    float64
 1   Grade_Level           274 non-null    float64
 2   Home_room             274 non-null    object
 3   BOY Indep Level       273 non-null    object
 4    Grade Level Equiv    259 non-null    float64
 5    Inst Level           187 non-null    object
 6    Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level       271 non-null    object
 8    Grade Level Equiv.2  274 non-null    object
 9    Inst Level.1         264 non-null    object
 10   Grade Level Equiv.3  254 non-null    object
 11   Accuracy (%)         218 non-null    float64
 12   Fluency (0-3)        232 non-null    float64
 13   Comp Within (0-3)    251 non-null    float64
 14   Comp Beyond (0-3)    249 non-null    float64
 15   Comp About           132 non-null    object
 16   Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

A couple of noticings:

* The column names are inconsistently formatted and need to be cleaned.
* Some numerical columns need to be casted as such.
* Since the Non-null values are not consistent, further investigation is needed.

In [5]:
# removing spaces and special characters from column names 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('_',' ')

df.insert(1,'Student Number', df['Student  Number'])
df.insert(2,'Homeroom', df['Home room'])

# columns to drop
drop_cols = ['Home room','Student  Number']
# drop columns
df.drop(drop_cols, axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student Number       274 non-null    float64
 1   Homeroom             274 non-null    object
 2   Grade Level          274 non-null    float64
 3   BOY Indep Level      273 non-null    object
 4   Grade Level Equiv    259 non-null    float64
 5   Inst Level           187 non-null    object
 6   Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level      271 non-null    object
 8   Grade Level Equiv.2  274 non-null    object
 9   Inst Level.1         264 non-null    object
 10  Grade Level Equiv.3  254 non-null    object
 11  Accuracy (%)         218 non-null    float64
 12  Fluency (0-3)        232 non-null    float64
 13  Comp Within (0-3)    251 non-null    float64
 14  Comp Beyond (0-3)    249 non-null    float64
 15  Comp About           132 non-null    object
 16  Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

In [7]:
# changing data to numerical type
df[['Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']] = df[['Grade Level Equiv.1','Grade Level Equiv.2','Grade Level Equiv.3']].apply(pd.to_numeric, errors='coerce')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student Number       274 non-null    float64
 1   Homeroom             274 non-null    object
 2   Grade Level          274 non-null    float64
 3   BOY Indep Level      273 non-null    object
 4   Grade Level Equiv    259 non-null    float64
 5   Inst Level           187 non-null    object
 6   Grade Level Equiv.1  173 non-null    float64
 7   MOY Indep Level      271 non-null    object
 8   Grade Level Equiv.2  234 non-null    float64
 9   Inst Level.1         264 non-null    object
 10  Grade Level Equiv.3  248 non-null    float64
 11  Accuracy (%)         218 non-null    float64
 12  Fluency (0-3)        232 non-null    float64
 13  Comp Within (0-3)    251 non-null    float64
 14  Comp Beyond (0-3)    249 non-null    float64
 15  Comp About           132 non-null    object
 16  Total Comp           274 non-null    float64
dtypes: float64(11), object(6)
memory usage: 36.5+ KB

In [9]:
# get summary of missing values
df.isna().sum()

Student Number           0
Homeroom                 0
Grade Level              0
BOY Indep Level          1
Grade Level Equiv       15
Inst Level              87
Grade Level Equiv.1    101
MOY Indep Level          3
Grade Level Equiv.2     40
Inst Level.1            10
Grade Level Equiv.3     26
Accuracy (%)            56
Fluency (0-3)           42
Comp Within (0-3)       23
Comp Beyond (0-3)       25
Comp About             142
Total Comp               0
dtype: int64

For BOY and MOY missing data, I will use the key provided with this analysis.

In [10]:
# importing BOY info
sheet_url = 'https://docs.google.com/spreadsheets/d/1ctQdLgknVDQ5BPCS-O6UihzK5kPbbVwI-svT3cWKWfw/edit#gid=1026408630'
url1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')        
df_BOY = pd.read_csv(url1, header=1)
df_BOY.head(15)

,Independent Reading Level,Grade Equivalent,K,1,2,3,4,5,6,7,8
0,AA,-0.25,On Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
1,A,0.00,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
2,B,0.33,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
3,C,0.67,Above Grade Level,Approaching Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
4,D,1.00,Above Grade Level,On Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
5,E,1.16,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
6,F,1.33,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
7,G,1.50,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
8,H,1.67,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
9,I,1.83,Above Grade Level,Above Grade Level,Approaching Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
10,J,2.00,Above Grade Level,Above Grade Level,On Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
11,K,2.33,Above Grade Level,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
12,L,2.67,Above Grade Level,Above Grade Level,Above Grade Level,Approaching Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
13,M,3.00,Above Grade Level,Above Grade Level,Above Grade Level,On Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level
14,N,3.33,Above Grade Level,Above Grade Level,Above Grade Level,Above Grade Level,Below Grade Level,Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level,2+ Years Below Grade Level

In [11]:
# locating records with missing BOY Grade Equivalent data
print(df.loc[df['Grade Level Equiv'].isna()].shape)
df.loc[df['Grade Level Equiv'].isna()]

(15, 17)

,Student Number,Homeroom,Grade Level,BOY Indep Level,Grade Level Equiv,Inst Level,Grade Level Equiv.1,MOY Indep Level,Grade Level Equiv.2,Inst Level.1,Grade Level Equiv.3,Accuracy (%),Fluency (0-3),Comp Within (0-3),Comp Beyond (0-3),Comp About,Total Comp
24,240415372.0,Syracuse,0.0,,NaN,,NaN,AA,NaN,A,NaN,NaN,NaN,NaN,NaN,,0.0
26,239668965.0,Syracuse,0.0,,NaN,,NaN,AA,NaN,A,NaN,NaN,NaN,NaN,NaN,,0.0
53,240905430.0,Howard,0.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
60,205888340.0,Swarthmore,1.0,,NaN,,NaN,C,0.67,D,1.00,99.0,2.0,2.0,2.0,NaN,4.0
67,238231914.0,Swarthmore,1.0,NaN,NaN,NaN,NaN,D,1.00,E,1.16,NaN,1.0,1.0,2.0,NaN,3.0
73,237499462.0,Swarthmore,1.0,,NaN,,NaN,F,1.33,G,1.50,94.0,1.0,NaN,1.0,NaN,1.0
82,234292928.0,Swarthmore,1.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
83,218702165.0,Swarthmore,1.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
138,234743243.0,Williams,2.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
139,234411106.0,Williams,2.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
175,226787604.0,Tuskegee,3.0,,NaN,,NaN,M,3.00,N,NaN,99.0,2.0,2.0,2.0,1.0,0.0
189,233199898.0,Tuskegee,3.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
190,231197146.0,Tuskegee,3.0,,NaN,,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,,0.0
195,203306691.0,Northwestern,3.0,H,NaN,,NaN,I,NaN,J,NaN,98.0,2.0,3.0,1.0,0.0,4.0
230,232795195.0,Georgetown,4.0,,NaN,,NaN,Q,4.33,R,4.67,99.0,3.0,2.0,2.0,2.0,6.0

Upon further investigation, only one BOY Independent Level was included (level H). My assumption is that these students do not have beginning year data because they enrolled in school after school had started. I will address the missing equivalency for the one student with data next.

In [21]:
if (df['BOY Indep Level']=='H') & (df['Grade Level']==3):
    df['Grade Level Equiv']=1.67

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().