In [2]:
# importing pandas as pd
import pandas as pd

In [3]:
xls = pd.ExcelFile('Data.xlsx')
# preview of sheet names.
xls.sheet_names

['RH K-4 MOY Data',
 'MOY Export',
 'Syracuse',
 'Howard',
 'Swarthmore',
 'Spelman',
 'Williams',
 'Brooklyn',
 'Tuskegee',
 'Northwestern',
 'Georgetown',
 'Wisconsin']

In [5]:
# combining different sheets into one df

df = pd.concat(pd.read_excel(xls, sheet_name=xls.sheet_names[2:]), ignore_index=True)
df.shape

(274, 17)

In [6]:
# previewing df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ Number       274 non-null    float64
 1   Grade_Level           274 non-null    float64
 2   Home_room             274 non-null    object
 3   BOY Indep Level       273 non-null    object
 4    Grade Level Equiv    259 non-null    float64
 5    Inst Level           187 non-null    object
 6    Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level       271 non-null    object
 8    Grade Level Equiv.2  274 non-null    object
 9    Inst Level.1         264 non-null    object
 10   Grade Level Equiv.3  254 non-null    object
 11   Accuracy (%)         218 non-null    float64
 12   Fluency (0-3)        232 non-null    float64
 13   Comp Within (0-3)    251 non-null    float64
 14   Comp Beyond (0-3)    249 non-null    float64
 15   Comp About           132 non-null    object
 16   Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB

Since the Non-null values are not consistent, further investigation is needed.

In [9]:
# removing spaces and special characters from column names 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('_',' ')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Student  Number      274 non-null    float64
 1   Grade Level          274 non-null    float64
 2   Home room            274 non-null    object
 3   BOY Indep Level      273 non-null    object
 4   Grade Level Equiv    259 non-null    float64
 5   Inst Level           187 non-null    object
 6   Grade Level Equiv.1  274 non-null    object
 7   MOY Indep Level      271 non-null    object
 8   Grade Level Equiv.2  274 non-null    object
 9   Inst Level.1         264 non-null    object
 10  Grade Level Equiv.3  254 non-null    object
 11  Accuracy (%)         218 non-null    float64
 12  Fluency (0-3)        232 non-null    float64
 13  Comp Within (0-3)    251 non-null    float64
 14  Comp Beyond (0-3)    249 non-null    float64
 15  Comp About           132 non-null    object
 16  Total Comp           274 non-null    float64
dtypes: float64(8), object(9)
memory usage: 36.5+ KB